// colors
$grey-300: #eee;
$grey-400: #eeeff3;
$grey-500: #f5f8fa;
$grey-600: #b5b5c3;
$grey-700: #959cb6;
$grey-800: #979797;
$grey-900: #6c7293;
$grey-A100: #f0f0f0;

$black-500: #494b69;
$black-600: #3f4254;
$black-700: #1e1e2d;
$black-800: #1b1b28;
$black-900: #181c32;
$shadow-black: rgba(236, 225, 203, 0.25);

$white: #fff;
$black: #000;
$red: red;

$red-50: #ff00000d;
$red-100: #ff000023;
$red-200: #ff00003c;
$red-300: #ff00005c;
$red-400: #ff000079;
$red500: #ff00009a;


$red-600: #ff0000aa;
$red-700: #ff0000c4;
$red-800: #ff0000ef;
$red-900: #ff0000;
