// colors
$grey-300: #eee;
$grey-400: #eeeff3;
$grey-500: #f5f8fa;
$grey-600: #b5b5c3;
$grey-700: #959cb6;
$grey-800: #979797;
$grey-900: #6c7293;
$grey-A100: #f0f0f0;

$blue-50: #e0f4ff;
$blue-100: #b3e3ff;
$blue-200: #80d1ff;
$blue-300: #4dbfff;
$blue-400: #26b1ff;
$blue-500: #00a3ff;
$blue-600: #009bff;
$blue-700: #0091ff;
$blue-800: #0088ff;
$blue-900: #0077ff;

$blue-A100: #ffffff;
$blue-A200: #f2f7ff;
$blue-A400: #bfd9ff;
$blue-A700: #a6caff;

$green-200: #3a6d5335;
$green-500: #3a6d53b4;
$green-000: #3a6d53d7;
$green-900: #3a6d53;

$black-500: #494b69;
$black-600: #3f4254;
$black-700: #1e1e2d;
$black-800: #1b1b28;
$black-900: #181c32;
$shadow-black: rgba(236, 225, 203, 0.25);

$white: #fff;
$black: #000;
$red: red;

$red-p-50: #fde8ed;
$red-p-100: #fbc6d3;
$red-p-200: #f8a0b6;
$red-p-300: #f57a98;
$red-p-400: #f35e82;
$red-p-500: #f1416c;
$red-p-600: #ef3b64;
$red-p-700: #ed3259;
$red-p-800: #eb2a4f;
$red-p-900: #e71c3d;
$red-p-A100: #ffffff;
$red-p-A200: #ffe8eb;
$red-p-A400: #ffb5bf;
$red-p-A700: #ff9ca9;

$orange-800: #ffcc00;
