.input-control {
  width: 100%;
 padding-inline: 1rem;
  &__label {}

  &__wrapper {}

  &.display {
    &-row {
      display: flex;
      flex-direction: row;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }

  p-password {
    width: 100%;
    display: inline-block;

    .p-password {
      width: 100%;
      display: inline-block;
    }
  }

  input {
    width: 100%;
    height: 50px;
    display: inline-block;
    padding-inline: .5rem;
    font-size: 1em;
    border-radius: 10px;
    border-color: #33333321;
    &:focus-visible {
      outline: -webkit-focus-ring-color auto 0px;
  }
  }

}
