
@import 'variables/color';
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey-300;

  &__container {
    // background-color: #fff;
    // border-radius: 10px;
    // padding: 1rem;
    // box-shadow: 1px 1px 1px #333;
    width: 35rem;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-end: 2rem;

      img {

        border-radius: 10px;
      }
    }

    &-form {
      .input-control{
        &:not(:last-child){
          margin-block-end: 1.5rem;
        }
      }
    }

    &-footer {
      margin-block-start: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
